{% extends "music/base.html" %}

{% block title %}
<title>Álbumes</title>
{% endblock %}

{% block content %}
<section id="artists-section">
    <h2>Álbunes</h2>
    <table>
        <thead>
            <tr>
                <th>Artista</th>
                <th>Álbum</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                {% for album in artist.album_set.all %}
                    <tr>
                        {% if forloop.counter == 1 %}
                        <td rowspan='{{ artist.album_set.all|length }}'> {{ artist }}</td>
                        {% endif %}
                        <td><a href="{% url 'album_detail' album.id %}">{{ album.name }}</a></td>
                        <td>{{ album.pub_date.year }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
